* {
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    background-image: url('images/alphaBg.jpg');
    background-size: cover; /* Escala la imagen para cubrir toda la pantalla */
    background-repeat: repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* La imagen se mantiene fija al hacer scroll */
    background-position: center; /* Centra la imagen */
}

body {
    margin: 0 20vw;
    overflow-x: hidden;
}

/*MENU NAV*/

.menu-container {
    position: fixed;
    top: 0;
    left: 0; /* Asegúrate de que esté alineado a la izquierda */
    width: 100%; /* Para que ocupe todo el ancho de la pantalla */
    height: 8vh;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9); /* Color de fondo del menú */
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 100%; /* Asegúrate de que el menú ocupe toda la altura del contenedor */
    padding: 0 20vw; /* Aplica el margen a los elementos dentro del menú */
}

.left-item {
    color: #3b3d41;
    font-size: 18pt;
}

.right-items {
    display: flex;
    gap: 2vw; /* Espacio entre los items */
}

a {
    color: black;
    text-decoration: none;
    font-size: 18pt;
}

a:hover {
    cursor: pointer;
}

/*ABOUT ME*/

#aboutMe {
    margin-top: 12vh;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    font-size: 15pt;
}

.container-about-me {
    width: 30vw;
    align-self: flex-start;
}

section > img {
    position: absolute;
    right: 20vw;
    margin-top: 20px;
    width: 18vw;
    height: 36vh;
    border-radius: 50%;
    align-self: self-start;
    transition: transform 0.8s ease-in-out;
}

/*PROJECTS*/
#projects {
    margin-top: 100px;
}

#projects-container {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}

.project-card {
    height: 400px;
    width: 350px;
    background-color: rgba(65, 65, 65, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    cursor: pointer;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px); 
}

#a {
    height: 2000px;
}